header {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-indigo-900);
  padding: var(--std-offset);
  box-shadow: var(--std-shadow);
}

header .title {
  float: left;
  font-size: 1rem;
  text-transform: capitalize;
}

/* Main Exit button */
header .exit-button {
  background-color: var(--bg-red);
  height: 1rem;
  width: 1rem;
  float: right;
}
