/* Main Styles */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

body {
  background-color: var(--bg-main);
  font-family: 'Roboto', sans-serif;
  color: white;
}

layout {
  height: inherit;
  width: inherit;
  display: flex;
}

popup {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: var(--std-offset);
  align-self: center;
  margin: 0 auto;
  background-color: var(--bg-accent);
  box-shadow: var(--std-shadow);
  z-index: 1000;
  flex-direction: column;
}

popup title {
  display: block;
}

popup content {
  display: flex;
  flex-direction: column;
}

input {
  background-color: inherit;
  border: 0px;
  border-bottom: 1px solid var(--color-lime-900);
  color: white;
  padding: var(--std-offset);
}

input:focus {
  border-bottom-color: var(--color-accent-2);
  outline: none;
}
