# -------------------------------
# nw.js files
# -------------------------------
locales/
credits.html
icudtl.dat
*.bin
*.pak
nw
node_modules/

# -------------------------------
# project files
# -------------------------------
build/
res/fonts
lib/
